body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  margin: 0;
  text-align: center;
  overflow-y: scroll;
}

.bg-warning {
  background-color: #6f42c1 !important;
}

.btn-warning {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #ffffff;
}
.btn-warning:focus {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgba(115, 6, 217, 0.5);
}
.show > .btn-warning.dropdown-toggle {
  background-color: #6f42c1;
  border-color: #6f42c1;
  color: #ffffff;
}

.btn-check:active + .btn-warning:focus,
.btn-check:checked + .btn-warning:focus,
.btn-warning.active:focus,
.btn-warning:active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(115, 6, 217, 0.5);
}
